* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto, Arial, Helvetica,  sans-serif ;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.ttf);
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 800px;
    background: url("../wordpress/img/bg/backgr1.png") center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

.title {
    color: #f9bf3b;
    font-size: 41px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

h2.title {
    margin-top: 30px;
}

.simple .title_big {
    color: white;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

.promo .promo_text {
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    padding: 0 13px;
    margin-top: 23px;
}

.promo .promo_text span {
    color: #f9bf3b;
    font-weight: 700;
}

.promo .promo_btn {
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: white;
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

 .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header {
    color: #252525;
    font-size: 30px;
    font-weight: 400px;
    text-transform: uppercase;
    text-align: center;
}

.waiting .waiting_divider{
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    color: #4a4a4a;
    margin-top: 17px;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    color: #299cbd;
    font-size: 29px;
    font-weight: 400;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    color: #4a4a4a;
    font-weight: 300;
}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: 48px;
    left: -240px;
    z-index: -1;
}

.finish .finish_header {
    color: white;
    font-size: 30px;
    font-weight: 400px;
    text-transform: uppercase;
    text-align: center;
}

.finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url("../wordpress/img/bg/backgr3.png") center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    color: #efefef;
}

.gift_block {
    min-height: 631px;
    position: relative;
    background-color: #EFEFEF;
    padding: 88px 0 0 0;
}

.gift_block .gift_img {
    display: block;
    margin: 0 auto;
}

.gift_block .promo_btn {
    display: block;
    margin: 51px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: white;
    font-size: 21px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.gift_descr {
    width: 1161px;
    font-weight: normal;
    font-size: 30px;
    margin-top: 45px;
    text-align: center;
    color: #252525;
}

.webinar .container {
    min-height: 511px;
    padding: 51px 0 0 0;
    text-align: center;
}
.webinar_icon {
    display: block;
    margin: 0 auto;
}

.webinar_descr {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 36px;
    color: #252525;
}

.webinar_date {
    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;
    color: #299CBD;
    margin-top: 30px;
}

.webinar_restr {
    font-size: 23px;
    color: #4A4A4A;
    margin-top: 25px;
}

.footer {
    min-height: 166px;
    background-color: #1A1A1A;
    text-align: center;
    padding: 57px 0 69px 0;
}


footer a {
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
}

.underlined {
    text-decoration: underline;
}

.info {
    margin: 0 auto;
    width: 377px;
    text-align: center;
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

